@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --font-press: "Press Start 2P", sans-serif;
}


@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0.5; }
}

.animate-blink {
  animation: blink 0.8s steps(1, end) infinite;
}
